@import '../../../style/vars';

.icon-link-action {
  position: relative;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    border-bottom: 1px solid #333;
    transition: right 0.3s ease-out;
  }

  &:focus::before,
  &:hover::before {
    right: 0;
  }
}
