@import '../../../style/vars';

.top-container {
  display: flex;
  padding: 1.5rem 1rem;

  .title-container {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 75%;
  }

  .actions-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    max-width: 25%;

    button {
      min-height: 55px;
    }
  }
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}
