@import '../../style/vars';

$overlay-transition-ms: 300ms;
$dialog-transition-ms: 300ms;

.footer-actions {
  display: flex;
  justify-content: flex-end;

  > * {
    margin-right: 0.75rem;
  }

  > :last-child {
    margin-right: 0;
  }
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px 30px;
  background-color: transparentize($brand-black, 0.4);
  z-index: 1000;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 85%;
  max-height: 100%;
  background-color: $brand-white;
  color: $brand-heavy-thunder;
  opacity: 0;
  transform: translateY(-100px);
  transition-duration: $dialog-transition-ms;
  transition-property: opacity, transform;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .body {
    padding: 30px;
    overflow-y: auto;

    > * {
      margin: 20px 0;
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .header,
  .footer {
    padding: 15px 30px;
  }

  .header {
    border-bottom: 1px solid $brand-off-white;
    font-size: 1.75rem;
    font-weight: bold;
  }

  .footer {
    border-top: 1px solid $brand-off-white;
  }

  .closeIcon {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    cursor: pointer;

    svg {
      width: 14px;
      height: 14px;

      > * {
        stroke: $brand-stone-grey;
      }

      &:hover {
        > * {
          stroke: $brand-danger;
        }
      }
    }
  }
}

.overlay-enter {
  opacity: 0;
}

.overlay-enter-active {
  opacity: 1;
  transition: opacity $overlay-transition-ms;
}

.overlay-exit {
  opacity: 1;
}

.overlay-exit-active {
  opacity: 0;
  transition: opacity $overlay-transition-ms;
}
