$brand-black: #000;
$brand-heavy-thunder: #333;
$brand-charcoal: #666;
$brand-mid-grey: #858796;
$brand-stone-grey: #888;
$brand-secondary: #aaa;
$brand-grey-white: #ccc;
$brand-white: #fff;
$brand-dark-white: #f8f9fc;
$brand-off-white: #e5e5e5;
$brand-white-smoke: #efefef;

$brand-success: #5ba50a;
$brand-light-green: #97d700;
$brand-info: #5bc2e7;
$brand-primary: #477dfc;
$brand-dark-blue: #0c2340;

$brand-warning: #f18a00;
$brand-danger: #f0506e;
